body{
  background-color: #232323;
}

h1{
  color: white;
  text-align: center;
}

#game-bar{
  background-color: white;
  text-align: center;
  height: 30px;
}

#game-status{
  background-color: white;
}

.square{
  width: 30%;
  background: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
}

.selected{
  background: blue;
}

#container{
  max-width: 600px;
  margin: 0 auto;
}
